개별프로젝트 완성본/소스코드/flows.json
[{"id":"fdc7a280.afaf2","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"f99e3f7f.94b2e","type":"http in","z":"fdc7a280.afaf2","name":"","url":"/user_inout","method":"post","upload":false,"swaggerDoc":"","x":180,"y":220,"wires":[["4e6a94dc.904b3c","a0c4abdb.b5ae48"]]},{"id":"4ff8f097.f2e6","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":120,"wires":[]},{"id":"2080ff2e.ac56c","type":"http response","z":"fdc7a280.afaf2","name":"200","statusCode":"200","headers":{},"x":970,"y":220,"wires":[]},{"id":"30520d9.f72c7f2","type":"mysql","z":"fdc7a280.afaf2","mydb":"4e7c8121.2cc61","name":"","x":700,"y":220,"wires":[["4ff8f097.f2e6","2080ff2e.ac56c"]]},{"id":"4e6a94dc.904b3c","type":"function","z":"fdc7a280.afaf2","name":"","func":"var nickname = \"'\"+msg.payload.user_nick+\"'\"\nvar timezoneOffset = new Date().getTimezoneOffset() * 60000; \nvar timezoneDate = new Date(Date.now() - timezoneOffset); \nvar time = timezoneDate.toISOString().slice(0, 19).replace('T', ' ');\ntime = time.toLocaleString();\n\nmsg.topic=\"INSERT INTO finger (`nickname`,`inout_time`)\"; \n// DB 에 명령을 집어넣을 때 꼭 topic 에 담아서 전송하라고 나와있음 \n// 파이썬에서 DB 연동할 때와 쿼리문은 같이 작성하면 되는데 컬럼사이에 ` ` 붙여야한다. \nmsg.topic=msg.topic+\"VALUES(\"+nickname+\",\\'\"+time+\"\\'\"+\")\"; \n// 값사이에 “,\\” 를 넣는 이유는 문자열 형식을 INSERT 문에 넣어야할 경우 쌍따옴표나 홑 따옴표\n// 를 붙여서 넣어줘야하기 때문이다. \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":220,"wires":[["30520d9.f72c7f2"]]},{"id":"a0c4abdb.b5ae48","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":100,"wires":[]},{"id":"57182174.15b9f","type":"inject","z":"fdc7a280.afaf2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":460,"wires":[["ddc1275b.c31f88","d2b83a1d.df6b08"]]},{"id":"1c031ed.37c13e1","type":"Stackhero-MySQL","z":"fdc7a280.afaf2","server":"c0e26bae.db8fe8","name":"","x":660,"y":460,"wires":[["f3568b4.cb71178","b90a6970.456428"]]},{"id":"f3568b4.cb71178","type":"function","z":"fdc7a280.afaf2","name":"","func":"var dateData;\nvar prevData;\nvar _data= [[]];\nvar _labels= [];\nvar text=\"\";\nvar time;\n\nfor(var i = 0; i< msg.payload.length; ++i){\n    dateData = msg.payload[i]['DATE_FORMAT(`inout_time`, \\'%m-%d-%H\\')'].split('-'); //12-15-12(12m 15d 12h)\n    if(i%2==1){\n        prevData=msg.payload[i-1]['DATE_FORMAT(`inout_time`, \\'%m-%d-%H\\')'].split('-');\n        if(dateData[0]==prevData[0]){\n            if(dateData[1]==prevData[1]){\n                time = dateData[2]-prevData[2];\n                if(time>0){\n                    _data[0].push(time);\n                    text=dateData[0]+\"/\"+dateData[1];\n                    _labels.push(text);\n                    console.log(i, prevData[2],\":\", dateData[2],\"\\n t:\", time);\n                }\n            }\n        }\n    }\n}\nmsg.payload = [{\n    \"series\": [ \"Study time\" ],\n    \"data\": _data, //[ [5,6,9] ],\n    \"labels\": _labels//[ \"Jan\", \"Feb\", \"Mar\" ]\n}]\nmsg.topic = \"JeongYunMi\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":460,"wires":[["eb8f08bb.751598","9b9e6792.9ac008"]]},{"id":"b90a6970.456428","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":380,"wires":[]},{"id":"eb8f08bb.751598","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":380,"wires":[]},{"id":"9b9e6792.9ac008","type":"ui_chart","z":"fdc7a280.afaf2","name":"","group":"4cec6b3f.4bd544","order":1,"width":0,"height":0,"label":"Study time by Date","chartType":"bar","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"24","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1170,"y":460,"wires":[[]]},{"id":"ddc1275b.c31f88","type":"function","z":"fdc7a280.afaf2","name":"","func":"if(msg.payload === 1){\n    msg.topic = \"SELECT DATE_FORMAT(`inout_time`, '%m-%d-%H') FROM `finger` WHERE `nickname` LIKE '%Yun%'\"; \n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["1c031ed.37c13e1","4087ac0e.711804"]]},{"id":"4087ac0e.711804","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":380,"wires":[]},{"id":"c55676b0.5c1028","type":"Stackhero-MySQL","z":"fdc7a280.afaf2","server":"c0e26bae.db8fe8","name":"","x":660,"y":780,"wires":[["1937333a.b41f7d","c121a99.11b6158"]]},{"id":"1937333a.b41f7d","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":700,"wires":[]},{"id":"d2b83a1d.df6b08","type":"function","z":"fdc7a280.afaf2","name":"","func":"if(msg.payload === 1){\n    msg.topic = \"SELECT DATE_FORMAT(`inout_time`, '%Y-%m-%d %H:%i:%S') FROM `finger` WHERE `nickname` LIKE '%Yun%'\"; \n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":780,"wires":[["c55676b0.5c1028","92a4e4b2.c46bd8"]]},{"id":"92a4e4b2.c46bd8","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":700,"wires":[]},{"id":"c121a99.11b6158","type":"function","z":"fdc7a280.afaf2","name":"","func":"var text =\"YYYY-MM-DD Time(h,m,s)<br/>\";\n\nfor(var i = 0; i< msg.payload.length; ++i){\n    var text = text+ msg.payload[i]['DATE_FORMAT(`inout_time`, \\'%Y-%m-%d %H:%i:%S\\')']+'<br/>';\n}\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":780,"wires":[["f0ef82dc.c177d","c729c077.e1232"]]},{"id":"f0ef82dc.c177d","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":700,"wires":[]},{"id":"c729c077.e1232","type":"ui_template","z":"fdc7a280.afaf2","group":"4cec6b3f.4bd544","name":"","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"height:auto; overflow:auto; text-align: center;\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1200,"y":780,"wires":[[]]},{"id":"efdea831.8ecd88","type":"ui_template","z":"fdc7a280.afaf2","group":"4cec6b3f.4bd544","name":"camera streaming","order":2,"width":0,"height":0,"format":"<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 height=350 width=553 src=\"http://192.168.0.19/html/min.php\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1240,"y":880,"wires":[[]]},{"id":"ac1ce902.baaec8","type":"inject","z":"fdc7a280.afaf2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":230,"y":1080,"wires":[["822df4e5.bb39f8","ce75ef7e.dd9f"]]},{"id":"121636e4.05b589","type":"Stackhero-MySQL","z":"fdc7a280.afaf2","server":"c0e26bae.db8fe8","name":"","x":700,"y":1080,"wires":[["ab687e2b.1a951","639597b6.737238"]]},{"id":"ab687e2b.1a951","type":"function","z":"fdc7a280.afaf2","name":"","func":"var dateData;\nvar prevData;\nvar _data= [[]];\nvar _labels= [];\nvar text=\"\";\nvar time;\n\nfor(var i = 0; i< msg.payload.length; ++i){\n    dateData = msg.payload[i]['DATE_FORMAT(`inout_time`, \\'%m-%d-%H\\')'].split('-'); //12-15-12(12m 15d 12h)\n    if(i%2==1){\n        prevData=msg.payload[i-1]['DATE_FORMAT(`inout_time`, \\'%m-%d-%H\\')'].split('-');\n        if(dateData[0]==prevData[0]){\n            if(dateData[1]==prevData[1]){\n                time = dateData[2]-prevData[2];\n                if(time>0){\n                    _data[0].push(time);\n                    text=dateData[0]+\"/\"+dateData[1];\n                    _labels.push(text);\n                    console.log(i, prevData[2],\":\", dateData[2],\"\\n t:\", time);\n                }\n            }\n        }\n    }\n}\nmsg.payload = [{\n    \"series\": [ \"Study time\" ],\n    \"data\": _data, //[ [5,6,9] ],\n    \"labels\": _labels//[ \"Jan\", \"Feb\", \"Mar\" ]\n}]\nmsg.topic = \"JeongYunMi\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1080,"wires":[["f8c63c60.7e9cf","8750327.4555bd"]]},{"id":"639597b6.737238","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":1000,"wires":[]},{"id":"f8c63c60.7e9cf","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":1000,"wires":[]},{"id":"8750327.4555bd","type":"ui_chart","z":"fdc7a280.afaf2","name":"","group":"f4075b74.22ce48","order":1,"width":0,"height":0,"label":"Study time by Date","chartType":"bar","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"24","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":1080,"wires":[[]]},{"id":"822df4e5.bb39f8","type":"function","z":"fdc7a280.afaf2","name":"","func":"if(msg.payload === 1){\n    msg.topic = \"SELECT DATE_FORMAT(`inout_time`, '%m-%d-%H') FROM `finger` WHERE `nickname` LIKE '%index%'\"; \n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1080,"wires":[["121636e4.05b589","19c7e928.24efe7"]]},{"id":"19c7e928.24efe7","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1000,"wires":[]},{"id":"32604953.e1d276","type":"Stackhero-MySQL","z":"fdc7a280.afaf2","server":"c0e26bae.db8fe8","name":"","x":700,"y":1400,"wires":[["434394d2.84ff5c","ad8a59cc.0b66f8"]]},{"id":"434394d2.84ff5c","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":1320,"wires":[]},{"id":"ce75ef7e.dd9f","type":"function","z":"fdc7a280.afaf2","name":"","func":"if(msg.payload === 1){\n    msg.topic = \"SELECT DATE_FORMAT(`inout_time`, '%Y-%m-%d %H:%i:%S') FROM `finger` WHERE `nickname` LIKE '%index%'\"; \n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":1400,"wires":[["32604953.e1d276","8623ea16.a58a38"]]},{"id":"8623ea16.a58a38","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1320,"wires":[]},{"id":"ad8a59cc.0b66f8","type":"function","z":"fdc7a280.afaf2","name":"","func":"var text =\"YYYY-MM-DD Time(h,m,s)<br/>\";\n\nfor(var i = 0; i< msg.payload.length; ++i){\n    var text = text+ msg.payload[i]['DATE_FORMAT(`inout_time`, \\'%Y-%m-%d %H:%i:%S\\')']+'<br/>';\n}\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1400,"wires":[["3e6dca2c.4a6a46","e7b070e8.c7a57"]]},{"id":"3e6dca2c.4a6a46","type":"debug","z":"fdc7a280.afaf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":1320,"wires":[]},{"id":"e7b070e8.c7a57","type":"ui_template","z":"fdc7a280.afaf2","group":"f4075b74.22ce48","name":"","order":4,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"height:auto; overflow:auto; text-align: center;\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1240,"y":1400,"wires":[[]]},{"id":"27f59bfd.28a634","type":"ui_template","z":"fdc7a280.afaf2","group":"f4075b74.22ce48","name":"camera streaming","order":2,"width":0,"height":0,"format":"<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 height=350 width=553 src=\"http://192.168.0.19/html/min.php\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1280,"y":1500,"wires":[[]]},{"id":"4e7c8121.2cc61","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"raspi_fingerprint","tz":""},{"id":"c0e26bae.db8fe8","type":"Stackhero-MySQL-Server","z":"","name":"","host":"127.0.0.1","port":"3306","tls":false,"database":"raspi_fingerprint"},{"id":"4cec6b3f.4bd544","type":"ui_group","z":"","name":"JeongYunMi","tab":"175bdf84.bfefc","order":1,"disp":true,"width":"11","collapse":true},{"id":"f4075b74.22ce48","type":"ui_group","z":"","name":"JeongYunMiIndexFinger","tab":"3addf3fa.28fbdc","order":1,"disp":true,"width":"11","collapse":false},{"id":"175bdf84.bfefc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3addf3fa.28fbdc","type":"ui_tab","z":"","name":"IndexFinger","icon":"dashboard","disabled":false,"hidden":false}]